@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color:#994d7d;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.mobile-container {
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    padding: 2px;
}

.mobile-img-container {
    height: 350px;
    width: 100%;
    position: relative;
}

.mobile-img {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    visibility: hidden;
    border-radius: 10px 10px 0 0;
}

.mobile-img.img-show {
    visibility: visible;
}

.mobile-tabs {
    display: flex;
}

.btn {
    border: none;
    padding: 0.6rem 0.8rem;
    cursor: pointer;
    text-align: center;
    min-width: 60px;
    color: #42363f;
}

.btn:first-child {
    border-radius: 0 0 0 10px;
}

.btn:last-child {
    border-radius: 0 0 10px 0;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: scale(0.98);
}

.btn h6 {
    font-size: 0.6rem;
    margin-top: 0.3rem;
}